# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/TPF/TPF.VC.VC.opendb
/TPF/TPF.VC.db
/TPF/packages
/TPF/.vs/TPF/v14
/TPF/resources/Thumbs.db
/TPF/Release
/TPF/Debug
/TPF/x64
